* {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

header {
  align-items: center;
  background: #e5f3f2;
  display: flex;
  height: 400px;
  width: 100%;
}

h1 {
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
  font-size: 8vh;
  font-weight: 700;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

h1 span {
  color: #00a79d;
}

.headerContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 36vh;
  margin: 0 auto;
  width: 50%;
}